<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Use this section to define settings for profile removal</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
	</array>
	<key>Domain</key>
	<string>com.apple.profileRemovalPassword</string>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
			<key>maxVersion</key>
			<string>Latest</string>
			<key>minVersion</key>
			<string>7.0</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The password for profile removal</string>
			<key>Identifier</key>
			<string>891CED59-FC99-42CC-901C-37266C35BBC9</string>
			<key>PayloadKey</key>
			<string>RemovalPassword</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Removal Password</string>
			<key>ValueType</key>
			<string>String</string>
			<key>ValueIsSensitive</key>
			<true/>
		</dict>
	</array>
	<key>Title</key>
	<string>Profile Removal</string>
</dict>
</plist>
