<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Use this section to define passcode policy settings</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
	</array>
	<key>Domain</key>
	<string>com.apple.mobiledevice.passwordpolicy</string>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>Platform</key>
			<string>macOS</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
		<string>User</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Deprecated. Use allowGlobalBackgroundFetchWhenRoaming in the Restrictions payload instead.</string>
			<key>Identifier</key>
			<string>8D42E251-9095-4BED-89CB-784F421E199A</string>
			<key>PayloadKey</key>
			<string>manualFetchingWhenRoaming</string>
			<key>Title</key>
			<string>Manual Fetching When Roaming</string>
			<key>ValueType</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Permit the use of repeating, ascending, and descending character sequences</string>
			<key>Identifier</key>
			<string>4D49A5A2-6931-483C-B69E-8DB8BFB47C75</string>
			<key>PayloadKey</key>
			<string>allowSimple</string>
			<key>Title</key>
			<string>Allow simple value</string>
			<key>ValueDefault</key>
			<true/>
			<key>ValueType</key>
			<string>Boolean</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Enforce the use of a passcode before using the device</string>
			<key>Identifier</key>
			<string>050351EA-2C5F-4F44-AA94-B6590B37F529</string>
			<key>PayloadKey</key>
			<string>forcePIN</string>
			<key>Title</key>
			<string>Require passcode on device</string>
			<key>ValueDefault</key>
			<true/>
			<key>ValueType</key>
			<string>Boolean</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Number of passcode entry attempts allowed before all data on device will be erased (iOS) or locked (macOS)</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>maxFailedAttempts</string>
							<key>ValueContainsAny</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>4BBBB3D9-96C8-49D1-9CA8-020969D1745F</string>
			<key>PayloadKey</key>
			<string>maxFailedAttempts</string>
			<key>Title</key>
			<string>Maximum number of failed attempts</string>
			<key>ValueDefault</key>
			<integer>0</integer>
			<key>ValueMax</key>
			<integer>11</integer>
			<key>ValueMin</key>
			<integer>2</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>The number of minutes for which the device can be idle (without being unlocked by the user) before it gets locked by the system</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>maxInactivity</string>
							<key>ValueContainsAny</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>051CD010-5303-460E-9E15-317A90404FC0</string>
			<key>PayloadKey</key>
			<string>maxInactivity</string>
			<key>Title</key>
			<string>Maximum Auto-Lock</string>
			<key>ValueMax</key>
			<integer>15</integer>
			<key>ValueMin</key>
			<integer>0</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Days after which the passcode must be changed</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>maxPINAgeInDays</string>
							<key>ValueContainsAny</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>FE1353FF-6C60-4640-9281-AD556B781661</string>
			<key>PayloadKey</key>
			<string>maxPINAgeInDays</string>
			<key>Title</key>
			<string>Maximum passcode age (1-730 days, or none)</string>
			<key>ValueMax</key>
			<integer>730</integer>
			<key>ValueMin</key>
			<integer>0</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Smallest number of non-alphanumeric characters allowed</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>minComplexChars</string>
							<key>ValueContainsAny</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>54F700FE-8289-4031-8853-AEFC4CB6D509</string>
			<key>PayloadKey</key>
			<string>minComplexChars</string>
			<key>Title</key>
			<string>Minimum number of complex characters</string>
			<key>ValueDefault</key>
			<integer>0</integer>
			<key>ValueMax</key>
			<integer>4</integer>
			<key>ValueMin</key>
			<integer>0</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Smallest number of passcode characters allowed</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>minLength</string>
							<key>ValueContainsAny</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>8472E1DD-D7B9-43AE-A977-3B5607651AA1</string>
			<key>PayloadKey</key>
			<string>minLength</string>
			<key>Title</key>
			<string>Minimum passcode length</string>
			<key>ValueDefault</key>
			<integer>0</integer>
			<key>ValueMax</key>
			<integer>16</integer>
			<key>ValueMin</key>
			<integer>0</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>requireAlphanumeric</string>
							<key>ValueContainsAny</key>
							<array>
								<false/>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Description</key>
			<string>Require passcodes to contain at least one letter and one number</string>
			<key>Identifier</key>
			<string>684B1373-8427-49F3-AB6F-BC359306FAB8</string>
			<key>PayloadKey</key>
			<string>requireAlphanumeric</string>
			<key>Title</key>
			<string>Require alphanumeric value</string>
			<key>ValueDefault</key>
			<false/>
			<key>ValueType</key>
			<string>Boolean</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Number of unique passcodes before reuse</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>Target</key>
							<string>pinHistory</string>
							<key>ValueContainsAny</key>
							<array>
								<integer>0</integer>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>32AFE9E0-2AF6-4D39-BCF9-D4F5833D2185</string>
			<key>PayloadKey</key>
			<string>pinHistory</string>
			<key>Title</key>
			<string>Passcode history (1-50 passcodes, or none)</string>
			<key>ValueMax</key>
			<integer>50</integer>
			<key>ValueMin</key>
			<integer>0</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>The maximum grace period, in minutes, to unlock the phone without entering a passcode</string>
			<key>ExcludeConditions</key>
			<array>
				<dict>
					<key>Conditions</key>
					<array>
						<dict>
							<key>ValueContainsAny</key>
							<array>
								<integer>-1</integer>
							</array>
							<key>Target</key>
							<string>maxGracePeriod</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Identifier</key>
			<string>1EB21434-DA43-450D-B61F-1DD7B89C2181</string>
			<key>PayloadKey</key>
			<string>maxGracePeriod</string>
			<key>Title</key>
			<string>Maximum grace period for device lock</string>
			<key>ValueDefault</key>
			<integer>-1</integer>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Delay after maximum number of failed attempts, in minutes</string>
			<key>Identifier</key>
			<string>7759EB87-5C4D-4CB5-B079-B7887D109422</string>
			<key>PayloadKey</key>
			<string>minutesUntilFailedLoginReset</string>
			<key>Title</key>
			<string>Delay after failed login attempts (macOS only)</string>
			<key>ValueType</key>
			<string>Integer</string>
			<key>Optional</key>
			<true/>
		</dict>
	</array>
	<key>Title</key>
	<string>Passcode</string>
</dict>
</plist>
