<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Use this section to define general settings</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
	</array>
	<key>Domain</key>
	<string>Configuration</string>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
			<key>maxVersion</key>
			<string>Latest</string>
			<key>minVersion</key>
			<string>7.0</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Payload Type</string>
			<key>Identifier</key>
			<string>457F6934-3134-4B85-8595-48074FF25EDE</string>
			<key>PayloadKey</key>
			<string>PayloadType</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Payload Type</string>
			<key>ValueDefault</key>
			<string>Configuration</string>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The version number of the payload</string>
			<key>Identifier</key>
			<string>02D7ED1E-8559-4412-9A3A-10AB4F75D58D</string>
			<key>PayloadKey</key>
			<string>PayloadVersion</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Payload Version</string>
			<key>ValueDefault</key>
			<integer>1</integer>
			<key>ValueType</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Payload Identifier</string>
			<key>Identifier</key>
			<string>AF30F628-2AC4-4CFE-98E5-B6E701F959CB</string>
			<key>PayloadKey</key>
			<string>PayloadIdentifier</string>
			<key>Required</key>
			<true/>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>A globally unique identifier for the payload</string>
			<key>Identifier</key>
			<string>25DFED66-5F56-46F5-9E7E-0C450DDC2521</string>
			<key>PayloadKey</key>
			<string>PayloadUUID</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Identifier</string>
			<key>ValueFormat</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Display name of the profile</string>
			<key>Identifier</key>
			<string>96B38813-5655-448B-AA2D-2C4FFE98DFF2</string>
			<key>PayloadKey</key>
			<string>PayloadDisplayName</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Name</string>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Description of this payload</string>
			<key>Identifier</key>
			<string>5F6EC7DB-FB3C-4352-ACB8-7977E7FD3B81</string>
			<key>PayloadKey</key>
			<string>PayloadDescription</string>
			<key>Title</key>
			<string>Payload Description</string>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Name of the organization for the profile</string>
			<key>Identifier</key>
			<string>B5A0F56D-E387-4C05-8FC8-06C6150373EE</string>
			<key>PayloadKey</key>
			<string>PayloadOrganization</string>
			<key>Title</key>
			<string>Organization</string>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The contents of this profile payload</string>
			<key>Identifier</key>
			<string>10CF09E1-CBD2-4AD4-A232-FBE89A1D0ABB</string>
			<key>PayloadKey</key>
			<string>PayloadContent</string>
			<key>Title</key>
			<string>Content</string>
			<key>ValueType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>If provided, will show an OTA-delivered profile as &quot;expired&quot; on a specific date. Users will be offered an &quot;Update&quot; button when the profile has expired</string>
			<key>Identifier</key>
			<string>62AC9477-B4C8-4A9F-96D3-4B85FCB6A29C</string>
			<key>PayloadKey</key>
			<string>PayloadExpirationDate</string>
			<key>Title</key>
			<string>Expiration Date</string>
			<key>ValueType</key>
			<string>Date</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The date on which the profile will be automatically removed</string>
			<key>Identifier</key>
			<string>79D10DA8-3ECA-4D3B-9758-ABF9B3A50201</string>
			<key>PayloadKey</key>
			<string>RemovalDate</string>
			<key>Title</key>
			<string>Removal Date</string>
			<key>ValueType</key>
			<string>Date</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Number of seconds until the profile is automatically removed. If RemovalDate key is present, its value is used instead.</string>
			<key>Identifier</key>
			<string>562270CC-37E4-4FF7-BD3B-488BE2BF1025</string>
			<key>PayloadKey</key>
			<string>DurationUntilRemoval</string>
			<key>Title</key>
			<string>Duration Until Removal</string>
			<key>ValueType</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Controls when the profile can be removed</string>
			<key>Identifier</key>
			<string>86044371-1181-470B-9D30-C8F3B7E45B23</string>
			<key>PayloadKey</key>
			<string>PayloadRemovalDisallowed</string>
			<key>Title</key>
			<string>Security</string>
			<key>ValueDefault</key>
			<false/>
			<key>ValueType</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Specifes if there is a removal passcode for the profile</string>
			<key>Identifier</key>
			<string>329F351E-48FB-4679-8E85-D35E5CF9C128</string>
			<key>PayloadKey</key>
			<string>HasRemovalPasscode</string>
			<key>Title</key>
			<string>Has removal passcode</string>
			<key>ValueType</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Is this profile installed by the MDM service</string>
			<key>Identifier</key>
			<string>A26B5C9A-588E-4810-BC35-79603FF0B370</string>
			<key>PayloadKey</key>
			<string>IsManaged</string>
			<key>Title</key>
			<string>Is Managed</string>
			<key>ValueType</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Dictionary specifying localized consent text that will be displayed as a warning during profile installation.</string>
			<key>Identifier</key>
			<string>E460EB04-813A-4017-B80C-88D807FA661A</string>
			<key>PayloadKey</key>
			<string>ConsentText</string>
			<key>Title</key>
			<string>Consent Text</string>
			<key>ValueType</key>
			<string>Dictionary</string>
		</dict>
	</array>
	<key>Title</key>
	<string>General</string>
</dict>
</plist>
