<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Use this section to define settings for a root certificate.</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
	</array>
	<key>Domain</key>
	<string>com.apple.security.root</string>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
			<key>maxVersion</key>
			<string>Latest</string>
			<key>minVersion</key>
			<string>7.0</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The filename for the certificate</string>
			<key>Identifier</key>
			<string>6C7C2FF1-009D-4AD6-B247-C7988FACFB46</string>
			<key>PayloadKey</key>
			<string>PayloadCertificateFileName</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Payload Certificate Filename</string>
			<key>ValueType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The filename for the certificate</string>
			<key>Identifier</key>
			<string>B24060FF-5FF8-48AF-8F1E-87909F6B6B90</string>
			<key>PayloadKey</key>
			<string>PayloadContent</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Payload Certificate Filename</string>
			<key>ValueType</key>
			<string>Data</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Password protecting the PKCS12 file.</string>
			<key>Identifier</key>
			<string>609BA0EB-FEEF-47A2-A7C4-0C2A0E5CCB91</string>
			<key>Optional</key>
			<true/>
			<key>PayloadKey</key>
			<string>Password</string>
			<key>Title</key>
			<string>Password</string>
			<key>ValueType</key>
			<string>String</string>
			<key>ValueIsSensitive</key>
			<true/>
		</dict>
	</array>
	<key>Title</key>
	<string>Certificate</string>
</dict>
</plist>
