<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultOrganization</key>
	<string>ProfileCreator</string>
	<key>DefaultOrganizationIdentifier</key>
	<string>com.github.erikberglund.ProfileCreator</string>
	<key>ShowPayloadLibraryAppleCollections</key>
	<true/>
	<key>ShowPayloadLibraryAppleDomains</key>
	<true/>
	<key>ShowPayloadLibraryDeveloper</key>
	<false/>
	<key>ShowGroupIcons</key>
	<true/>
	<key>ShowProfileCount</key>
	<false/>
	<key>EditorDisableOptionalKeys</key>
	<false/>
	<key>EditorColumnEnable</key>
	<false/>
	<key>EditorShowDisabledKeys</key>
	<true/>
	<key>EditorShowHiddenKeys</key>
	<false/>
	<key>EditorShowSupervisedKeys</key>
	<true/>
	<key>EditorShowMacOS</key>
	<true/>
	<key>EditorShowIOS</key>
	<true/>
	<key>EditorShowTvOS</key>
	<true/>
</dict>
</plist>
