<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>FIXME</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
		<string>Push</string>
	</array>
	<key>Domain</key>
	<string>com.apple.carddav.account.pcmanifest</string>
	<key>Icon</key>
	<string>pfm_IconContacts</string>
	<key>Identifier</key>
	<string>com.apple.carddav.account.pcmanifest</string>
	<key>PayloadType</key>
	<string>com.apple.carddav.account</string>
	<key>PayloadTypes</key>
	<dict>
		<key>com.apple.carddav.account</key>
		<string>Contacts</string>
	</dict>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>Platform</key>
			<string>macOS</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
		<string>User</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>5E5BAF52-7348-4BCA-A6FA-D1438682410A</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVAccountDescription</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>Account Hostname and Port</string>
			<key>Description</key>
			<string>The CardDAV hostname or IP address and port number</string>
			<key>Identifier</key>
			<string>AE9E2C59-C310-45A1-A04A-59057ADFB83B</string>
			<key>ViewType</key>
			<string>HostPort</string>
			<key>PayloadKeys</key>
			<dict>
				<key>Host</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVHostName</string>
				</dict>
				<key>Port</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVPort</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>15D801C6-F9B0-4826-AEBC-64C8D4B4CC60</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVPrincipalURL</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>E054421C-561A-427F-BFF4-9AF9C520B30A</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVUsername</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>5786BFF9-D8A8-4D32-891A-CF686A3CE477</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVPassword</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>E08A4F38-1652-48DA-8CE8-8027DC48545F</string>
			<key>ViewType</key>
			<string>Checkbox</string>
			<key>PayloadKeys</key>
			<dict>
				<key>Checkbox</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>com.apple.carddav.account@CardDAVUseSSL</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Title</key>
	<string>Contacts</string>
</dict>
</plist>
