<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>FIXME</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
		<string>Push</string>
	</array>
	<key>Domain</key>
	<string>com.apple.mobiledevice.passwordpolicy.pcmanifest</string>
	<key>Icon</key>
	<string>pfm_IconPasscode</string>
	<key>Identifier</key>
	<string>com.apple.mobiledevice.passwordpolicy.pcmanifest</string>
	<key>PayloadTypes</key>
	<dict>
		<key>com.apple.mobiledevice.passwordpolicy</key>
		<string>FIXME</string>
	</dict>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>Platform</key>
			<string>macOS</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
		<string>User</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>4B6CD3D2-0B8F-47FF-97FE-0BFD32EC1AB6</string>
			<key>PayloadKeyPathCheckbox</key>
			<string>com.apple.mobiledevice.passwordpolicy@forcePIN</string>
			<key>ViewType</key>
			<string>Checkbox</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>Hidden</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>3B950A57-CADB-4B92-B7C0-9F93EDC8ACC4</string>
			<key>PayloadKeyPathCheckbox</key>
			<string>com.apple.mobiledevice.passwordpolicy@allowSimple</string>
			<key>ViewType</key>
			<string>Checkbox</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>A22F4AE8-1AC5-453F-89F6-F444E094F1E2</string>
			<key>PayloadKeyPathCheckbox</key>
			<string>com.apple.mobiledevice.passwordpolicy@requireAlphanumeric</string>
			<key>ViewType</key>
			<string>Checkbox</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>EF559839-9B05-4B5D-B35E-32B2448EF957</string>
			<key>PayloadKeyPathPopUpButton</key>
			<string>com.apple.mobiledevice.passwordpolicy@minLength</string>
			<key>ViewType</key>
			<string>PopUpButton</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<integer>50</integer>
			<key>ValueTitles</key>
			<dict>
				<key>--</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>406A6B8F-DAFA-49B4-906D-2AC05F30A3A8</string>
			<key>PayloadKeyPathPopUpButton</key>
			<string>com.apple.mobiledevice.passwordpolicy@minComplexChars</string>
			<key>ViewType</key>
			<string>PopUpButton</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<integer>50</integer>
			<key>ValueTitles</key>
			<dict>
				<key>--</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>EEDB3BBF-6F72-4C5C-89AC-0F6FB1DA1475</string>
			<key>PayloadKeyPathTextField</key>
			<string>com.apple.mobiledevice.passwordpolicy@maxPINAgeInDays</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>56E30245-B014-4726-8DDB-CCD33E82F288</string>
			<key>PayloadKeyPathPopUpButton</key>
			<string>com.apple.mobiledevice.passwordpolicy@maxInactivity</string>
			<key>ViewType</key>
			<string>PopUpButton</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<integer>50</integer>
			<key>ValueTitles</key>
			<dict>
				<key>--</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>20DF52C1-DAAE-46E3-876B-ACFB5C26E943</string>
			<key>PayloadKeyPathTextField</key>
			<string>com.apple.mobiledevice.passwordpolicy@pinHistory</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>636BA9BF-2832-47E2-83B9-C99182CEA61D</string>
			<key>PayloadKeyPathPopUpButton</key>
			<string>com.apple.mobiledevice.passwordpolicy@maxGracePeriod</string>
			<key>ValueDefault</key>
			<string>--</string>
			<key>ValueList</key>
			<array>
				<string>--</string>
				<string>Immediately</string>
				<string>1 minute</string>
				<string>5 minutes</string>
				<string>15 minutes</string>
				<string>1 hour</string>
				<string>4 hours</string>
			</array>
			<key>ValueSubkeys</key>
			<dict>
				<key>--</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>-1</integer>
					</dict>
				</array>
				<key>Immediately</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>1 minute</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>5 minutes</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>5</integer>
					</dict>
				</array>
				<key>15 minutes</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>15</integer>
					</dict>
				</array>
				<key>1 hour</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>60</integer>
					</dict>
				</array>
				<key>4 hours</key>
				<array>
					<dict>
						<key>PayloadValue</key>
						<integer>240</integer>
					</dict>
				</array>
			</dict>
			<key>ViewType</key>
			<string>PopUpButton</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>C7153427-41FD-4772-B65D-C50F608852DA</string>
			<key>PayloadKeyPathPopUpButton</key>
			<string>com.apple.mobiledevice.passwordpolicy@maxFailedAttempts</string>
			<key>ViewType</key>
			<string>PopUpButton</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<integer>50</integer>
			<key>ValueTitles</key>
			<dict>
				<key>--</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>38BD35F8-E074-4355-9FF7-97603E14194B</string>
			<key>PayloadKeyPathTextField</key>
			<string>com.apple.mobiledevice.passwordpolicy@minutesUntilFailedLoginReset</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>ViewStyle</key>
			<string>ListCentered</string>
			<key>InputWidth</key>
			<real>50</real>
			<key>ShowStepper</key>
			<true/>
		</dict>
	</array>
	<key>Title</key>
	<string>Passcode</string>
</dict>
</plist>
