<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>General</string>
	<key>Description</key>
	<string>Mandatory</string>
	<key>Domain</key>
	<string>com.apple.general.pcmanifest</string>
	<key>Distribution</key>
	<array>
		<string>Manual</string>
		<string>Push</string>
	</array>
	<key>Icon</key>
	<string>pfm_IconGeneral</string>
	<key>Identifier</key>
	<string>com.apple.general.pcmanifest</string>
	<key>PayloadTypes</key>
	<dict>
		<key>Configuration</key>
		<string>General</string>
		<key>com.apple.profileRemovalPassword</key>
		<string></string>
	</dict>
	<key>Platforms</key>
	<array>
		<dict>
			<key>Platform</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>Platform</key>
			<string>macOS</string>
		</dict>
	</array>
	<key>Scope</key>
	<array>
		<string>System</string>
		<string>User</string>
	</array>
	<key>Subkeys</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>4402B07D-78EA-482F-B4FD-C8352085CE55</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>Configuration@PayloadDisplayName</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>41CB1487-F133-4B35-8EF6-EA5F1410E799</string>
			<key>ViewType</key>
			<string>TextField</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>Configuration@PayloadOrganization</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>F614BEE8-5F64-4C56-BEE5-47DE56E88644</string>
			<key>ViewType</key>
			<string>TextView</string>
			<key>Description</key>
			<string>Brief explanation of the contents or purpose of the profile</string>
			<key>PayloadKeys</key>
			<dict>
				<key>TextView</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>Configuration@PayloadDescription</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>6F10C875-B7F7-42BB-AECB-4ABA80C35E03</string>
			<key>ViewType</key>
			<string>PopUpButton</string>
			<key>PayloadKeys</key>
			<dict>
				<key>PopUpButton</key>
				<dict>
					<key>PayloadKeyPath</key>
					<string>Configuration@PayloadRemovalDisallowed</string>
					<key>SelectionDefault</key>
					<string>Always</string>
					<key>ValueList</key>
					<array>
						<string>Always</string>
						<string>With Authorization</string>
						<string>Never</string>
					</array>
					<key>ValueSubkeys</key>
					<dict>
						<key>Always</key>
						<array>
							<dict>
								<key>PayloadValue</key>
								<false/>
							</dict>
						</array>
						<key>With Authorization</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>B751A439-A8BA-443E-B8B3-3F8E82B38BF6</string>
								<key>ViewType</key>
								<string>TextField</string>
								<key>PayloadKeys</key>
								<dict>
									<key>TextField</key>
									<dict>
										<key>Description</key>
										<string>Authorization Password</string>
										<key>NoTitle</key>
										<true/>
										<key>PayloadKeyPath</key>
										<string>com.apple.profileRemovalPassword@RemovalPassword</string>
									</dict>
								</dict>
							</dict>
						</array>
						<key>Never</key>
						<array>
							<dict>
								<key>PayloadValue</key>
								<true/>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
